services:
  rigctld:
    image: librespace/hamlib:4.0
    user: "999"
    read_only: true
    environment:
      MODEL: "1"
    restart: unless-stopped
    command: rigctld

  satnogs_client:
    image: knegge/satnogs-client:lsf-addons
    user: "999"
    read_only: false
    init: true
    env_file:
      - ./station.env
    environment:
      SATNOGS_RIG_IP: rigctld
      SATNOGS_RIG_PORT: "4532"
    command: satnogs-client
    device_cgroup_rules:
      - "c 189:* rwm"
    devices:
      - /dev/bus/usb:/dev/bus/usb
    volumes:
      - type: tmpfs
        target: /tmp
      - satnogs_client_data:/var/lib/satnogs-client
      - ./meteor.sh:/opt/bin/meteor.sh:ro
    restart: unless-stopped
    stop_grace_period: 1s

volumes:
  satnogs_client_data:
